.bg-nav{
    background: linear-gradient(117.67deg, #087271 0%, #158584 50%, #57c0bf 100%);
    color: #fff;
    padding: 5px 20px;
    margin-bottom: 10px;
  
    box-shadow: -1px 10px 5px 0px rgba(161,181,171,0.75);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(161,181,171,0.75);
  -moz-box-shadow: -1px 10px 5px 0px rgba(161,181,171,0.75);
  
  }
  .title-text{
        font-size: 32px;
        line-height: 38px;
        font-weight: 500;
        color: #ffffff;
        // opacity: 0.7;
        margin: 0;
        // margin-top: 12px;
  }